* {
    box-sizing: border-box;
    --blue: #bdd4f1;
    --tan: #baa287;
    --gray: #7c8584;
    --ivory: #e6e3e4;
    --black: #121b28;
    --white: white;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: linear-gradient(0deg, var(--tan) 0%, var(--ivory) 63%);
  }
  
  .reset-button {
    font-size: 16px;
    height: 30px;
    line-height: 8px;
    margin-top: 20px;
  }
  
  .win-loss-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  button {
    background: radial-gradient(circle, var(--ivory) 0%, var(--tan) 100%);
    border-radius: 8px;
    color: var(--teal);
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
  }
  
  header {
    padding: 40px;
    text-align: center;
    background: var(--tan);
    color: var(--black);
    border-bottom:30px #879274;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  section {
    flex: 0 auto;
    padding: 8px;
    margin-top: 50px;
    background-color: var(--);
    border-radius: 8px;
  }
  
  .word-guess {
    width: 55vw;
    height: 400px;
  }
  
  .results {
    width: 30vw;
    height: 400px;
  }
  
  .card {
    background: radial-gradient(circle, var(--yellow) 0%, var(--orange) 100%);
    border: 1px solid var(--blue);
    border-radius: 8px;
    box-shadow: var(--tan) 0 1px 2px 0,
      var(--gray) 0 2px 4px 3px;
    margin: auto;
    padding: 20px;
  }
  
  .word-blanks {
    line-height: 360px;
  }
  
  .large-font {
    font-size: 3.5em;
    text-align:center;
  }
  
  .timer {
    height: 240px;
    padding: 10px;
    background: var(--purple);
    color: var(--yellow);
    text-align: center;
  }
  
  .timer-text {
    padding: 55px;
  }
  
  @media screen and (max-width: 1183px) {
    main {
      flex-direction: column;
    }
  
    .word-guess,
    .results {
      width: 90vw;
    }
  
    section {
      background-color: white;
      margin: 20px auto;
      width: 92vw;
    }
  }
  
  @media screen and (max-width: 504px) {
    .large-font {
      font-size: 2em;
    }
  
    .reset-button {
      font-size: 12px;
      width: 20ox;
      
    }
  
    .timer {
      height: 200px;
    }
  }